/* My lovely CSS code for AGE */

body {
    /*background: url("/img/bg-grad.jpg") repeat scroll 0 0 #EFEFEE;*/
    color: #333333;
    font-family: "Lucida Grande", "Helvetica Neue", "Arial", sans-serif;
    margin:50px 0px; padding:0px;
	text-align:center;
}
#Content {
	width:500px;
	margin:0px auto;
	text-align:left;
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
}

/****** These are the default visibilities ******/

.prevf {
	/* Visible, before verification */
	display: block;
}
.greatvf {
	/* Not verified yet... */
	display: none;
}
.badvf {
	/* Not verified yet... */
	display: none;
}
.error {
	/* Not erred yet... */
	display: none;

	/* Error-ish red */
	color: red;
	font-weight: bold;
}
.order {
	/* Not ordered yet... */
	display: none;
}
.order #gunReplace {
	text-decoration: underline;
}